@{
    ViewBag.Title = "Home Page";
}

<h1>Wellcome to FPT Training Management System</h1>

<div class="text">
    <h2>FPT Co</h2>
    <p>
        FPT Telecom Joint Stock Company (FPT Telecom) has been one of the telecommunications and Internet
        service providers who are trusted and loved by customers all over Vietnam and the region.
    </p>
    <h2> About FPT</h2>
    <p>
        FPT (FPT Corporation, English: FPT Group), the abbreviation of FPT Joint
        Stock Company (formerly known as Technology Investment and Development Company),
        is one of the largest information technology service companies. In Vietnam with
        the main business is providing information technology products and services.
        According to statistics of the United Nations Development Program, this is the
        14th largest enterprise in Vietnam in 2007.
    </p>
</div>